body {
  margin: 0;
  text-align: center;
  font-family: 'Epilogue', sans-serif;
  font-size: 1.2rem;
  color: #393e46;
}

h1 {
  margin: 0 auto;
  font-family: 'Alex Brush', cursive;
  font-size: 4rem;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 40px auto 40px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  ;
}

hr {
  border-style: dotted none none;
  border-width: 7px;
  width: 5%;
  border-color: #cccccc;
  padding: 25px 0;
}

a {
  color: #393e46;
}

p {
  margin: 0 0 50px;
  line-height: 2;
}

.topContainer {
  background-color: #758184;
  position: relative;
  padding-top: 100px;
  font-weight: bolder;
}

.middleContainer {
  background-color: #dbdbdb;
}

.bottomContainer {
  background-color: #758184;
  padding: 50px 0 5px;
  height: 150px;
}

.bottomCloud1 {
  position: absolute;
  left: 20%;
  bottom: 300px;
}

.bottomCloud2 {
  position: absolute;
  right: 30%;
  top: 400px;
}

.topCloud {
  position: absolute;
  right: 300px;
  top: 10px;
}

.plane {
  position: absolute;
  height: 230px;
}

.coding {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.gaming {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.prog {
  line-height: 2;
  font-size: 1.2rem;
}

.pic {
  margin: 40px 0 0;
}

.interest {
  padding: 10px 0 30px;
}

.share {
  width: 40%;
  margin: 0 auto 50px;
}

.intro {
  width: 40%;
  margin: 0 auto 50px;
}
.contact-me {
  height: 400px;
}

.footer-link {
  display: inline-block;
  margin: 20px;
  text-decoration: none;
  font-size: 1.1rem;
}

.footer-link:hover {
  color: white;
}

.copy-right {
  color: #ebecf1;
  font-size: .9rem;
  padding-top: 30px;
  margin: 0;
}

.btn {
  background: #1A1B1E;
  background: -webkit-gradient(top, #1A1B1E, #9299AB);
  background-image: -webkit-linear-gradient(top, #1A1B1E, #9299AB);
  background-image: -moz-linear-gradient(top, #1A1B1E, #9299AB);
  background-image: -ms-linear-gradient(top, #1A1B1E, #9299AB);
  background-image: -o-linear-gradient(top, #1A1B1E, #9299AB);
  background-image: linear-gradient(to bottom, #1A1B1E, #9299AB);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 17px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #B2245B;
  background: -webkit-gradient(top, #B2245B, #522033);
  background-image: -webkit-linear-gradient(top, #B2245B, #522033);
  background-image: -moz-linear-gradient(top, #B2245B, #522033);
  background-image: -ms-linear-gradient(top, #B2245B, #522033);
  background-image: -o-linear-gradient(top, #B2245B, #522033);
  background-image: linear-gradient(to bottom, #B2245B, #522033);
  text-decoration: none;
}
